<div class="container">
    <div class="row pt-3">
        <div class="col text-center">
            <h1>Welcome to Meme Me <span class="text-primary">Pre-Alpha</span></h1>
        </div>
    </div>
    <div class="row">
        <button type="button" routerLink="/public" class="col btn btn-primary p-5 m-5">
            <div class="text-center">
                <h3>Explore Memes with Other Meme Seekers</h3>
                <p class="pt-4">View memes from all over the world and upload memes for the world to see.</p>
            </div>
        </button>
        <button type="button" routerLink="/private" class="col btn btn-primary p-5 m-5">
            <div class="text-center">
                <h3>Memes with Friends</h3>
                <p class="pt-4">Create private meme collections, invite your friends and enjoy memes together.</p>
            </div>
        </button>
    </div>
</div>